export(
"dgp",
"fpcr",
"fplsR",
"sfplsR",
"predict_fpcr",
"predict_fpls",
"predict_sfpls"
)


import(fda)
import(MASS)

importFrom("graphics", "legend", "lines")
importFrom("stats", ".getXlevels", "cov", "cov.wt", "dchisq","sd","fitted","rchisq",
             "integrate", "lm", "mahalanobis", "median", "model.matrix",
             "na.omit", "pchisq", "pnorm", "qnorm", "qchisq", "quantile", "rnorm",
             "runif", "terms")
importFrom("fda.usc", "Adot")
importFrom("fda.usc", "fdata")
importFrom("goffda", "r_ou")
importFrom("pcaPP", "l1median")
importFrom("pcaPP", "qn")
importFrom("expm", "sqrtm")
importFrom("fda.usc", "inprod.fdata")
importFrom("cvTools", "cvFolds")
